<div class="myGoalContainer d-flex justify-content-between">
  <div class="container2HeaderText">
    MY GOALS
  </div>
  <div>
    <button mat-raised-button color="primary" routerLink="/key-to-success/">Add New Goal </button>
  </div>
</div>

<div class="my-libraryContainer">
  <router-outlet></router-outlet>

  <div class="goalContainer">
    <mat-tab-group (selectedTabChange)="selectedTabChange($event)">
      <mat-tab label="All Goals">
        <app-key-to-success-c [tabIndex]="tabIndex"></app-key-to-success-c>
        <!-- <app-goal></app-goal>
            <app-assessment></app-assessment> -->
       
        <mat-card>

          <!-- <div class="allGoalList" *ngIf="isDataLoaded">

            <div class="col-md-8 my-3" *ngIf="successGoalList.length > 0">
              <div class="row">
                <div class="col-8">
                  <div class="goal-header">
                    <span>Success Goal</span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="goal-header">
                    <span>Last assessment</span>
                  </div>
                </div>
              </div>
              <div class="row"  *ngFor="let item of successGoalList" (click)="setSuccessGoal(item)">

                <mat-card-title class="d-flex justify-content-between">
                  <div class="d-flex gap-1">
                    <div class="titleCard">
                       Goals
                    </div>
                    <div class="progressStatusCard">
                      In Progress
                    </div>
                  </div>
                  <div>
                    <img src="../../../assets/images/Vector.svg" alt="" srcset="">
                  </div>
                </mat-card-title>
   
                <mat-card-subtitle class="titleText">
                <div class="col-8">
                  <div class="goal-item d-flex align-items-top" [class.active]="item === selectedSuccessGoal"
                    >
                    <img [src]="item.icon | appImage" *ngIf="item.icon" class="mr-1" />
                    <span>{{item.goal}}</span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="goal-item-value" [class.active]="item === selectedSuccessGoal"
                    (click)="setSuccessGoal(item)">
                    <span>{{item.dateTakenDescription}}</span>
                  </div>
                </div>
              </mat-card-subtitle>
              </div>
            </div>


          </div> -->


        </mat-card>
      </mat-tab>



      <mat-tab label="MyGoals">
        <mat-card>

          <app-key-to-success-c [tabIndex]="tabIndex" ></app-key-to-success-c>

          <!-- <div class="listMayGoals" *ngFor="let item of MyGoalList">
            <mat-card-title class="d-flex justify-content-between">
              <div class="d-flex gap-1">
                <div class="titleCard">
                  {{item.goal}}
                </div>
                <div class="progressStatusCard">
                  In Progress
                </div>

              </div>
              <div>
                <img src="../../../../assets/images/Vector.svg" alt="" srcset="">
              </div>
            </mat-card-title>
            <mat-card-subtitle class="titleText">
              <div> {{item.goalDescription}}</div>
              Deliver customer service and support with an 85 percent or higher satisfaction rating.
            </mat-card-subtitle>

          </div> -->

        </mat-card>
      </mat-tab>
      <mat-tab label="My Business Goals">

        <mat-card>

          <app-key-to-success-c [tabIndex]="tabIndex"></app-key-to-success-c>

          <!-- <div class="teamGoalList" *ngFor="let item of teamGoalList">

            <mat-card-title class="d-flex justify-content-between">
              <div class="d-flex gap-1">
                <div class="titleCard">
                  {{item.goal}}
                </div>
                <div class="progressStatusCard">
                  In Progress
                </div>
              </div>
              <div>
                <img src="../../../../assets/images/Vector.svg" alt="" srcset="">
              </div>
            </mat-card-title>
            <mat-card-subtitle class="titleText">
              <div> {{item.goalDescription}}</div>
              Deliver customer service and support with an 85 percent or higher satisfaction rating.
            </mat-card-subtitle>

          </div> -->

        </mat-card>
      </mat-tab>
      <mat-tab label=" My Team Goals">
        <mat-card>

          <app-key-to-success-c [tabIndex]="tabIndex"></app-key-to-success-c>


          <!-- <div class="businessGoalList" *ngFor="let item of BusinessGoalList">

            <mat-card-title class="d-flex justify-content-between">
              <div class="d-flex gap-1">
                <div class="titleCard">
                  {{item.goal}}
                </div>
                <div class="progressStatusCard">
                  In Progress
                </div>
              </div>
              <div>
                <img src="../../../../assets/images/Vector.svg" alt="" srcset="">
              </div>
            </mat-card-title>
            <mat-card-subtitle class="titleText">
              <div> {{item.goalDescription}}</div>
              Deliver customer service and support with an 85 percent or higher satisfaction rating.
            </mat-card-subtitle>

          </div> -->



        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>


  <button mat-raised-button color="primary" routerLink="/key-to-success/">Add New Goal </button>



</div>