
<section class="conatiner" >

    <div class="animated fadeIn py-3">
        <div class="row">
          <div class="col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h4 class="card-title">Change Password</h4>
                <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onFormSubmit()">
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <label for="oldPassword" class="form-label">Old Password</label>
                      <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword"
                        [class.is-invalid]="submitted && formControls.oldPassword.errors">
                      <div class="invalid-feedback">
                        Please enter your Old Password
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                      <label for="password" class="form-label">New Password</label>
                      <input type="password" class="form-control" id="password" formControlName="password"
                        [class.is-invalid]="submitted && formControls.password.errors">
                      <div class="invalid-feedback">
                        Please enter your New Password
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                      <label for="confirmPassword" class="form-label">Confirm Password</label>
                      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                        [class.is-invalid]="(submitted && formControls.confirmPassword.errors || submitted )">
                      <div class="invalid-feedback" *ngIf="submitted && formControls.confirmPassword.errors?.required">
                        Please enter your Confirm Password
                      </div>
                      <div class="invalid-feedback" *ngIf="submitted">
                        New Password and Confirm Password does not match
                      </div>
                    </div>
      
                    <div class="col-md-12 d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary ml-3" [disabled]="submitted && changePasswordForm.invalid">
                        <i class="fa fa-floppy-o mr-1"></i> Change Password
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


</section>