<!-- <div class="key-container" #mainContainer>
    <div class="animated fadeIn d-flex align-items-center justify-content-center h-100" *ngIf="isDataLoaded">
      <div class="key-box key-slide1 {{getColorName(keySlide1?.rag)}}" *ngIf="keySlide1">
        <div class="key-content" >
          <span class="categoryName">{{keySlide1?.categoryName}}</span>
          <span class="scorePC">{{keySlide1.scorePC | number : '0.0-0'}}%
            <i class="fa" *ngIf="keySlide1.previousScore"
              [class.fa-caret-up]="keySlide1.previousScore < keySlide1.scorePC"
              [class.fa-caret-down]="keySlide1.previousScore > keySlide1.scorePC">
            </i>
          </span>
        </div>
      </div>
      <div class="key-box key-slide2 {{getColorName(keySlide2?.rag)}}" *ngIf="keySlide2">
        <div class="key-content" >
          <span class="categoryName">{{keySlide2?.categoryName}}</span>
          <span class="scorePC">{{keySlide2.scorePC | number : '0.0-0'}}%
            <i class="fa" *ngIf="keySlide2.previousScore"
              [class.fa-caret-up]="keySlide2.previousScore < keySlide2.scorePC"
              [class.fa-caret-down]="keySlide2.previousScore > keySlide2.scorePC">
            </i>
          </span>
        </div>
        <div class="key-box key-slide3 absolute {{getColorName(keySlide3?.rag)}}"  *ngIf="keySlide3">
          <div class="key-content" >
            <span class="categoryName">{{keySlide3.categoryName}}</span>
            <span class="scorePC">{{keySlide3.scorePC | number : '0.0-0'}}%
              <i class="fa" *ngIf="keySlide3.previousScore"
                [class.fa-caret-up]="keySlide3.previousScore < keySlide3.scorePC"
                [class.fa-caret-down]="keySlide3.previousScore > keySlide3.scorePC">
              </i>
            </span>
          </div>
        </div>
      </div>
      <div class="key-box key-slide4 {{getColorName(keySlide4?.rag)}}" *ngIf="keySlide4" >
        <div class="key-content" >
          <span class="categoryName">{{keySlide4.categoryName}}</span>
          <span class="scorePC">{{keySlide4.scorePC | number : '0.0-0'}}%
            <i class="fa" *ngIf="keySlide4.previousScore"
              [class.fa-caret-up]="keySlide4.previousScore < keySlide4.scorePC"
              [class.fa-caret-down]="keySlide4.previousScore > keySlide4.scorePC">
            </i>
          </span>
        </div>
      </div>
      <div class="key-rounded-container">
        <div>
          <div class="key-box key-slide6 {{getColorName(keySlide6?.rag)}}" *ngIf="keySlide6">
            <div class="key-content" >
              <span class="categoryName">{{keySlide6?.categoryName}}</span>
              <span class="scorePC">{{keySlide6.scorePC | number : '0.0-0'}}%
                <i class="fa" *ngIf="keySlide6.previousScore"
                  [class.fa-caret-up]="keySlide6.previousScore < keySlide6.scorePC"
                  [class.fa-caret-down]="keySlide6.previousScore > keySlide6.scorePC">
                </i>
              </span>
            </div>
          </div>
          <div class="key-box key-slide5 {{getColorName(keySlide5?.rag)}}" *ngIf="keySlide5">
            <div class="key-content">
              <span class="categoryName">{{keySlide5?.categoryName}}</span>
              <span class="scorePC">{{keySlide5.scorePC | number : '0.0-0'}}%
                <i class="fa" *ngIf="keySlide5.previousScore"
                  [class.fa-caret-up]="keySlide5.previousScore < keySlide5.scorePC"
                  [class.fa-caret-down]="keySlide5.previousScore > keySlide5.scorePC">
                </i>
              </span>
            </div>
          </div>
        </div>
        <div>
          <div class="key-box key-slide8 {{getColorName(keySlide8?.rag)}}" *ngIf="keySlide8">
            <div class="key-content" >
              <span class="categoryName">{{keySlide8.categoryName}}</span>
              <span class="scorePC">{{keySlide8.scorePC | number : '0.0-0'}}%
                <i class="fa" *ngIf="keySlide8.previousScore"
                  [class.fa-caret-up]="keySlide8.previousScore < keySlide8.scorePC"
                  [class.fa-caret-down]="keySlide8.previousScore > keySlide8.scorePC">
                </i>
              </span>
            </div>
          </div>
          <div class="key-box key-slide7 {{getColorName(keySlide7?.rag)}}" *ngIf="keySlide7">
            <div class="key-content">
              <span class="categoryName">{{keySlide7.categoryName}}</span>
              <span class="scorePC">{{keySlide7.scorePC | number : '0.0-0'}}%
                <i class="fa" *ngIf="keySlide7.previousScore"
                  [class.fa-caret-up]="keySlide7.previousScore < keySlide7.scorePC"
                  [class.fa-caret-down]="keySlide7.previousScore > keySlide7.scorePC">
                </i>
              </span>
            </div>
          </div>
        </div>
        <div class="inner-absolute-circle {{getColorName(keySlide9?.rag)}}" *ngIf="keySlide9">
          <div class="key-content">
            <span class="categoryName">{{keySlide9.categoryName}}</span>
            <span class="scorePC">{{keySlide9.scorePC | number : '0.0-0'}}%
              <i class="fa" *ngIf="keySlide9.previousScore"
                [class.fa-caret-up]="keySlide9.previousScore < keySlide9.scorePC"
                [class.fa-caret-down]="keySlide9.previousScore > keySlide9.scorePC">
              </i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <ngx-spinner bdColor="#ffffff00" size="medium" color="#2f5597" [fullScreen]="false" type="ball-scale-multiple"
      name="assessment-key-chart">
    </ngx-spinner>
  </div>
   -->

   <section style="width: 870px;height:570px;position: relative">
    <img class="lockOuterCircle" src="../../../../assets/images/Ellipse 31.svg" alt="" srcset="">
    <div class="container row container3 mt-5">
      <div class=" d-flex justify-content-center align-item-center"> 
        <div class="circleContainer1">
          <div id="time" style="text-align: center;">
            <div class="circle" style="--clr:#198754;">
              <svg>
                <circle cx="40" cy="40" r="40"></circle> 
                <circle cx="40" cy="40" r="40" id="ss"></circle> 
              </svg>
              <div id="seconds">00</div>
            </div>
          </div>
          <div class="indicator1">
            <svg height="100" width="100">
              <circle id="circleIndicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
            </svg>
          </div> 
        </div> 
        <div class="circleContainer2">
          <div id="time" style="text-align: center;">
            <div class="circle" style="--clr:#198754;">
              <svg>
                <circle cx="40" cy="40" r="40"></circle> 
                <circle cx="40" cy="40" r="40" id="ss1"></circle> 
              </svg>
              <div id="seconds1">00</div>
            </div>
          </div>
          <div class="indicator2">
            <svg height="100" width="100">
              <circle id="circle1Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
            </svg>
          </div> 
        </div> 
        <div class="circleContainer3">
          <div id="time" style="text-align: center;">
            <div class="circle" style="--clr:#198754;">
              <svg>
                <circle cx="40" cy="40" r="40"></circle> 
                <circle cx="40" cy="40" r="40" id="ss2"></circle> 
              </svg>
              <div id="seconds2">00</div>
            </div>
          </div>
          <div class="indicator3">
            <svg height="100" width="100">
              <circle id="circle2Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
            </svg>
          </div> 
        </div>
        <div class="circleContainer4">
          <div id="time" style="text-align: center;">
            <div class="circle" style="--clr:#198754;">
              <svg>
                <circle cx="40" cy="40" r="40"></circle> 
                <circle cx="40" cy="40" r="40" id="ss3"></circle> 
              </svg>
              <div id="seconds3">00</div>
            </div>
          </div>
          <div class="indicator4">
            <svg height="100" width="100">
              <circle id="circle3Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
            </svg>
          </div> 
        </div> 
        <div class="circleContainer5">
          <div id="time" style="text-align: center;">
            <div class="circle" style="--clr:#198754;">
              <svg>
                <circle cx="40" cy="40" r="40"></circle> 
                <circle cx="40" cy="40" r="40" id="ss4"></circle> 
              </svg>
              <div id="seconds4">00</div>
            </div>
          </div>
          <div class="indicator5">
            <svg height="100" width="100">
              <circle id="circle4Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
            </svg>
          </div> 
        </div>
        <div class="circleContainer6">
          <div id="time" style="text-align: center;">
            <div class="circle" style="--clr:#198754;">
              <svg>
                <circle cx="40" cy="40" r="40"></circle> 
                <circle cx="40" cy="40" r="40" id="ss5"></circle> 
              </svg>
              <div id="seconds5">00</div>
            </div>
          </div>
          <div class="indicator6">
            <svg height="100" width="100">
              <circle id="circle5Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
            </svg>
          </div> 
        </div>
        <div class="circleContainer7">
          <div id="time" style="text-align: center;">
            <div class="circle" style="--clr:#198754;">
              <svg>
                <circle cx="40" cy="40" r="40"></circle> 
                <circle cx="40" cy="40" r="40" id="ss6"></circle> 
              </svg>
              <div id="seconds6">00</div>
            </div>
          </div>
          <div class="indicator7">
            <svg height="100" width="100">
              <circle id="circle6Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
            </svg>
          </div> 
        </div>
        <div class="circleContainer8">
          <div id="time" style="text-align: center;">
            <div class="circle" style="--clr:#198754;">
              <svg>
                <circle cx="40" cy="40" r="40"></circle> 
                <circle cx="40" cy="40" r="40" id="ss7"></circle> 
              </svg>
              <div id="seconds7">00</div>
            </div>
          </div>
          <div class="indicator8">
            <svg height="100" width="100">
              <circle id="circle7Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
            </svg>
          </div> 
        </div>
        <div class="circleContainer9">
          <div id="time" style="text-align: center;">
            <div class="circle" style="--clr:#198754;">
              <svg>
                <circle cx="40" cy="40" r="40"></circle> 
                <circle cx="40" cy="40" r="40" id="ss8"></circle> 
              </svg>
              <div id="seconds8">00</div>
            </div>
          </div>
          <div class="indicator9">
            <svg height="100" width="100">
              <circle id="circle8Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
            </svg>
          </div> 
        </div>  
        <div class="circleContainerResultant">
          <div id="time" style="text-align: center;">
            <div class="circle" style="--clr:#198754;">
              <svg>
                <circle cx="90" cy="90" r="90"></circle> 
                <circle cx="90" cy="90" r="90" id="overAlls"></circle> 
              </svg>
              <div id="combinedResult" style="color:red;z-index:999;">00</div>
            </div>
          </div>
          <img class="lockImg" src="../../../../assets/images/Union.svg" alt="" srcset="">
        </div>
        <div class="spaceRemoval"></div> 
      </div>
      <div>
        <p class="keyText text1">PERSONAL ACCOUNTABILITY</p>
        <p class="keyText text2">NEXT STEPS</p>
        <p class="keyText text3">POSSIBILITIES AND CHOICES</p>
        <p class="keyText text4">CURRENT POSITION</p>
        <p class="keyText text5">END GOAL</p>
        <p class="keyText text6">SELF BELIEF</p>
        <p class="keyText text7">COMPELLING REASON </p>
        <p class="keyText text8">UNWILLINGNESS TO COMPROMISE</p>
        <p class="keyText text9">PRIORITISING ABOVE OTHERS</p>
      </div>
    </div>
  </section>