<div class="row">
  <div>
    <div class="container2HeaderText mb-3">
      PRE-READING AND PREPARATION
    </div>
  </div>

  <app-watch *ngIf="isWatchVideo" [programContents]="programContents" [videoIndex]="selectedVideoIndex"
    (onRequestClose)="handleVideoPlayerClose($event)">
  </app-watch>

  <div class="full-height" *ngIf="isDataLoaded && hasData; else noDataTemplate">
    <carousel [cellsToShow]="4" style="height: 515px" class="carouselCardRow">

      <div class="carousel-cell" *ngFor="let item of programContents; let i = index">
        <div>

          <div class="row">
            <!-- <div class="col-md-12 py-3">
                        <div class="text-center text-md-left">
                          <span class="font-lg">PRE-READING AND PREPARATION</span>
                        </div>
                      </div> -->
            <div class="">
              <div class="card carouselCardDiv">
                <div class="card-header text-white p-0 overlay">
                  <div class="item-stepno-badge">
                    <!-- {{item.stepNo}} -->
                  </div>
                  <div class="item-complated-badge" *ngIf="nextVideoIndex > i">
                    <div class="fa fa-check"></div>
                  </div>
                  <div class="overlay-content" *ngIf="nextVideoIndex >= i">
                    <div class="round-button" (click)="handleWatchVideo(i)" [ngSwitch]="item.contenttypeid">
                      <i class="fa fa-play fa-2x pl-1" aria-hidden="true" *ngSwitchCase="contentType.Video"></i>
                      <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" *ngSwitchCase="contentType.PDF_Document"></i>
                    </div>
                  </div>
                  <img [src]="'data:image/png;base64,'+item.contentImage"
                    onerror="this.src='../../../../assets/img/default-image.png'" class="card-img-top">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{item.stepName}}</h5>
                  <p class="card-text cardDescDiv">{{item.contentBlurb}}</p>
                </div>
                <button style="position: absolute;bottom: 32px;left: 25%;" *ngIf="nextVideoIndex === i"
                  class="cardBtnBottom btn btn-block btn-primary text-center" (click)="handleWatchVideo()">
                  <div [ngSwitch]="item.contenttypeid">
                    <span *ngSwitchCase="contentType.Video">WATCH NOW</span>
                    <span *ngSwitchCase="contentType.PDF_Document">VIEW NOW</span>
                  </div>
                  <div *ngIf="nextVideoIndex > i" class="text-center mt-1 text-muted text-sm">VIEWED:
                    {{getFormattedDate(item.lastRead)}}</div>
                </button>
                <!-- <div class="card-footer text-center">
                </div> -->
              </div>
            </div>



            <!-- <app-view-content *ngIf="isWatchVideo" [selectedContent]="selectedContent"
                  (onRequestClose)="handleVideoPlayerClose($event)">
                </app-view-content> -->

          </div>
        </div>
        <ng-template #noDataTemplate>
          <div class="d-flex justify-content-center align-items-center h-100" *ngIf="isDataLoaded">
            <span class="text-muted">No upcoming courses</span>
          </div>
        </ng-template>
      </div>
    </carousel>
   

  </div>
  <ng-template #noDataTemplate>
    <div class="d-flex justify-content-center align-items-center h-100" *ngIf="isDataLoaded">
      <span class="text-muted">No upcoming courses</span>
    </div>
  </ng-template>



</div>



<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale-party" [fullScreen]="true">
  <p style="color: rgb(192, 20, 20)"> Loading... </p>
</ngx-spinner>