<div class="container-fluid classFigma">
    <div class="d-flex flex-wrap justify-content-evenly">


        <div class="">
            <div class="">
                <img src="../../assets/logo/subio.svg" alt="" width="224.6px" height="100px">

            </div>
            <div class="textSubio">
                <p class="marPad0">
                    Subio Help you to achieve personal,
                    team or business goal in your Life.

                </p>
            </div>

        </div>




        <div class="">
            <div class="formCard">
                <form action="">
                    <div class="formElement">

                        <div class="regTitle">
                            <p class="marPad0">
                                Register
                            </p>
                        </div>
                        <div class="regTitle2">
                            <p class="marPad0">
                                It's quick and easy.
                            </p>
                        </div>

                        <div class="parrent">
                            <div class="inputEmail child">
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="First name">
                            </div>

                            <div class="inputPass child">
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Last Name">
                            </div>

                            <div class="inputPass child">
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Preffered Name">
                            </div>

                            <div class="inputPass child">
                                <input type="number" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="conntact number">
                            </div>

                        </div>

                        <div class="inputPass">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter Email">
                        </div>

                        <div class="inputPass">
                            <input type="password" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter password">
                        </div>

                        <div class="inputPass">
                            <input type="password" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Confirm Password">
                        </div>

                        <div class="loginBtn">
                            <button type="button" class="btn btnBlock">Register</button>
                        </div>

                        <div class="allLogin">
                            <p class="marPad0">Already have an account? <span style="color: #0198E0;">login </span></p>
                        </div>



                    </div>
                </form>
            </div>
        </div>

    </div>



</div>