

<div class="container containerImg1">
    <div class="row">
  
      <div class="fWrapper">
        <div class="child1">
          <div class="clock">
            MAY
  
          </div>
          <div class="clock2">
            <div class="date">
              19
  
            </div>
            <div class="day">
              Thursday
  
            </div>
  
          </div>
  
          <div class="timing">
            <div class="timerContainer">
              <div class="days">
                <div class="times">15</div>
                <div id="calender">Days</div>
              </div>
              <div class="days">
                <div class="times">15</div>
                <div id="calender">Hours</div>
              </div>
              <div class="days">
                <div class="times">15</div>
                <div id="calender">Minutes</div>
              </div>
            </div>
  
          </div>
  
  
        </div>
        <div class="child2">
          <div class="heading">
            Key to Success Essentials
          </div>
          <div class="para">
            "If you’re bored with life – you don’t get up every morning with a burning desire to do things – you don’t
            have enough goals."
          </div>
          <div class="timing1">
            TIMINGS 09:30AM to 12:00PM
          </div>
          <div class="btnJoin">
            Join Now
          </div>
        </div>
        <div class="child3">
          <div class="profileImage"></div>
          <div class="nameCoach">
  sarfaraz
             <!-- {{li.userProgramInstance[0].tutorName}}  -->
            
          </div>
          <div class="coachHeading">
            YOUR COACH
  
          </div>
        </div>
      </div>
  
    </div>
  
  
    <!-- <img src="../../../assets/images/Vector.svg"> -->
  </div>
  <div class="container container3">
    <div class="row">
      <div>
        <div class="container2HeaderText mb-3">
          PRE-READING AND PREPARATION
        </div>
      </div>
      <carousel [cellsToShow]="4" style="height: 515px" class="carouselCardRow">
        <div class="carousel-cell">
          <div>
            <mat-card class="example-card">
                <img width="100px" height="200px"  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="carouselDataContainer">
                  <div>
                    <div class="cardTitle">Welcome to the Subio Key to Success programme</div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                      <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </div>
              </mat-card>
          </div>
        </div>
        <div class="carousel-cell">
          <div>
            <mat-card class="example-card">
                <img width="100px" height="200px"  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="carouselDataContainer">
                  <div>
                    <div class="cardTitle">Welcome to the Subio Key to Success
  programme</div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                      <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </div>
              </mat-card>
          </div>
        </div>
        <div class="carousel-cell">
          <div>
            <mat-card class="example-card">
                <img width="100px" height="200px"  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="carouselDataContainer">
                  <div>
                    <div class="cardTitle">Welcome to the Subio Key to Success
  programme</div>
                    
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                      <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </div>
              </mat-card>
          </div>
        </div>
        <div class="carousel-cell">
          <div>
            <mat-card class="example-card">
                <img width="100px" height="200px"  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="carouselDataContainer">
                  <div>
                    <div class="cardTitle">Welcome to the Subio Key to Success
  programme</div>
                    
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                      <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </div>
              </mat-card>
          </div>
        </div>
        <div class="carousel-cell">
          <div>
            <mat-card class="example-card">
                <img width="100px" height="200px"  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="carouselDataContainer">
                  <div>
                    <div class="cardTitle">Welcome to the Subio Key to Success
  programme</div>
                    
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                      <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </div>
              </mat-card>
          </div>
        </div>
      </carousel>
    </div>
  </div>
  <div class="container container2">
      <div class="row">
          <div class="myGoalContainer d-flex justify-content-between">
              <div class="container2HeaderText">
                  MY GOALS
              </div>
              <div>
                  <button mat-raised-button color="primary" routerLink="/key-to-success/" >Add New Goal </button>
              </div>
          </div>
          <div class="goalContainer">
              <mat-tab-group>
                  <mat-tab label="All Goals">
                      <mat-card>
                          <mat-card-title class="d-flex justify-content-between" >
                              <div class="d-flex gap-1">
                                  <div class="titleCard">
                                      My Goals
                                  </div>
                                  <div class="progressStatusCard">
                                      In Progress
                                  </div>
                              </div>
                              <div>
                                  <img src="../../../assets/images/Vector.svg" alt="" srcset="">
                              </div>
                      </mat-card-title>
                          <mat-card-subtitle class="titleText">
                              Deliver customer service and support with an 85 percent or higher satisfaction rating.
                          </mat-card-subtitle>                            
                      </mat-card>
                      <mat-card>
                          <mat-card-title class="d-flex justify-content-between" >
                              <div class="d-flex gap-1">
                                  <div class="titleCard">
                                      My Goals
                                  </div>
                                  <div class="progressStatusCard">
                                      In Progress
                                  </div>
                              </div>
                              <div>
                                  <img src="../../../assets/images/Vector.svg" alt="" srcset="">
                              </div>
                      </mat-card-title>
                          <mat-card-subtitle class="titleText">
                              Deliver customer service and support with an 85 percent or higher satisfaction rating.
                          </mat-card-subtitle>                            
                      </mat-card>
                  </mat-tab>
                  <mat-tab label="MyGoals">
                      <mat-card>
                          <mat-card-title class="d-flex justify-content-between" >
                              <div class="d-flex gap-1">
                                  <div class="titleCard">
                                      My Goals
                                  </div>
                                  <div class="progressStatusCard">
                                      In Progress
                                  </div>
                              </div>
                              <div>
                                  <img src="../../../../assets/images/Vector.svg" alt="" srcset="">
                              </div>
                      </mat-card-title>
                          <mat-card-subtitle class="titleText">
                              Deliver customer service and support with an 85 percent or higher satisfaction rating.
                          </mat-card-subtitle>                            
                      </mat-card>
                  </mat-tab>
                  <mat-tab label="My Team Goals">
                      <mat-card>
                          <mat-card-title class="d-flex justify-content-between" >
                              <div class="d-flex gap-1">
                                  <div class="titleCard">
                                      My Goals
                                  </div>
                                  <div class="progressStatusCard">
                                      In Progress
                                  </div>
                              </div>
                              <div>
                                  <img src="../../../../assets/images/Vector.svg" alt="" srcset="">
                              </div>
                      </mat-card-title>
                          <mat-card-subtitle class="titleText">
                              Deliver customer service and support with an 85 percent or higher satisfaction rating.
                          </mat-card-subtitle>                            
                      </mat-card>
                  </mat-tab>
                  <mat-tab label="My Personal Goals">
                      <mat-card>
                          <mat-card-title class="d-flex justify-content-between" >
                              <div class="d-flex gap-1">
                                  <div class="titleCard">
                                      My Goals
                                  </div>
                                  <div class="progressStatusCard">
                                      In Progress
                                  </div>
                              </div>
                              <div>
                                  <img src="../../../../assets/images/Vector.svg" alt="" srcset="">
                              </div>
                      </mat-card-title>
                          <mat-card-subtitle class="titleText">
                              Deliver customer service and support with an 85 percent or higher satisfaction rating.
                          </mat-card-subtitle>                            
                      </mat-card>
                  </mat-tab>
              </mat-tab-group>
          </div>
      </div>
  </div>
  
  <div class="container container3">
      <div class="row">
          <div class="myGoalContainer d-flex justify-content-between">
              <div class="container2HeaderText" routerLink="/my-library/l">
                  MY LIBRARY
              </div>
          </div>
          <div class="goalContainer">
              <mat-tab-group>
                  <mat-tab label="Suggested Reading">
                      <div class="d-flex justify-content-between cardGap">
                          <div>
                              <mat-card class="example-card">
                                <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                <div class="statusBar">Continue Reading</div>
                                  <div>
                                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                    <div class="d-flex justify-content-start mt-1 mb-1">
                                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                      </star-rating>
                                      <span class="ratingNumber">
                                          (5432)
                                      </span>
                                    </div>
                                  </div>
                                  <mat-card-content>
                                    <p class="cardPara">
                                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                    </p>
                                  </mat-card-content>
                                  <mat-card-actions class="d-flex justify-content-center">
                                      <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                  </mat-card-actions>
                                </mat-card>
                          </div>
                          <div>
                              <mat-card class="example-card">
                                  <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                  <div class="statusBar">Continue Reading</div>
                                  <div>
                                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                    <div class="d-flex justify-content-start mt-1 mb-1">
                                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                      </star-rating>
                                      <span class="ratingNumber">
                                          (5432)
                                      </span>
                                    </div>
                                  </div>
                                  <mat-card-content>
                                    <p class="cardPara">
                                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                    </p>
                                  </mat-card-content>
                                  <mat-card-actions class="d-flex justify-content-center">
                                      <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                  </mat-card-actions>
                                </mat-card>
                          </div>
                          <div>
                              <mat-card class="example-card">
                                  <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                  <div class="statusBar">Continue Reading</div>
                                  <div>
                                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                    <div class="d-flex justify-content-start mt-1 mb-1">
                                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                      </star-rating>
                                      <span class="ratingNumber">
                                          (5432)
                                      </span>
                                    </div>
                                  </div>
                                  <mat-card-content>
                                    <p class="cardPara">
                                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                    </p>
                                  </mat-card-content>
                                  <mat-card-actions class="d-flex justify-content-center">
                                      <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                  </mat-card-actions>
                                </mat-card>
                          </div>
                          <div>
                              <mat-card class="example-card">
                                  <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                  <div class="statusBar">Continue Reading</div>
                                  <div>
                                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                    <div class="d-flex justify-content-start mt-1 mb-1">
                                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                      </star-rating>
                                      <span class="ratingNumber">
                                          (5432)
                                      </span>
                                    </div>
                                  </div>
                                  <mat-card-content>
                                    <p class="cardPara">
                                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                    </p>
                                  </mat-card-content>
                                  <mat-card-actions class="d-flex justify-content-center">
                                      <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                  </mat-card-actions>
                                </mat-card>
                          </div>
                      </div>
                  </mat-tab>
                  <mat-tab label="Current Reading">
                      
                          <div class="d-flex justify-content-between cardGap">
                              <div>
                                  <mat-card class="example-card">
                                      <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                      <div class="statusBar">Continue Reading</div>
                                      <div>
                                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                        <div class="d-flex justify-content-start mt-1 mb-1">
                                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                          </star-rating>
                                          <span class="ratingNumber">
                                              (5432)
                                          </span>
                                        </div>
                                      </div>
                                      <mat-card-content>
                                        <p class="cardPara">
                                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions class="d-flex justify-content-center">
                                          <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                      </mat-card-actions>
                                    </mat-card>
                              </div>
                              <div>
                                  <mat-card class="example-card">
                                      <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                      <div class="statusBar">Continue Reading</div>
                                      <div>
                                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                        <div class="d-flex justify-content-start mt-1 mb-1">
                                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                          </star-rating>
                                          <span class="ratingNumber">
                                              (5432)
                                          </span>
                                        </div>
                                      </div>
                                      <mat-card-content>
                                        <p class="cardPara">
                                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions class="d-flex justify-content-center">
                                          <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                      </mat-card-actions>
                                    </mat-card>
                              </div>
                               <div>
                                  <mat-card class="example-card">
                                      <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                      <div class="statusBar">Continue Reading</div>
                                      <div>
                                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                        <div class="d-flex justify-content-start mt-1 mb-1">
                                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                          </star-rating>
                                          <span class="ratingNumber">
                                              (5432)
                                          </span>
                                        </div>
                                      </div>
                                      <mat-card-content>
                                        <p class="cardPara">
                                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions class="d-flex justify-content-center">
                                          <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                      </mat-card-actions>
                                    </mat-card>
                              </div>
                               <div>
                                  <mat-card class="example-card">
                                      <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                      <div class="statusBar">Continue Reading</div>
                                      <div>
                                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                        <div class="d-flex justify-content-start mt-1 mb-1">
                                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                          </star-rating>
                                          <span class="ratingNumber">
                                              (5432)
                                          </span>
                                        </div>
                                      </div>
                                      <mat-card-content>
                                        <p class="cardPara">
                                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions class="d-flex justify-content-center">
                                          <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                      </mat-card-actions>
                                    </mat-card>
                              </div>
                          </div>
                      
                  </mat-tab>
                  <mat-tab label="Reading List">
  
                          <div class="d-flex justify-content-between cardGap">
                              <div>
                                  <mat-card class="example-card">
                                      <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                      <div class="statusBar">Continue Reading</div>
                                      <div>
                                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                        <div class="d-flex justify-content-start mt-1 mb-1">
                                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                          </star-rating>
                                          <span class="ratingNumber">
                                              (5432)
                                          </span>
                                        </div>
                                      </div>
                                      <mat-card-content>
                                        <p class="cardPara">
                                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions class="d-flex justify-content-center">
                                          <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                      </mat-card-actions>
                                    </mat-card>
                              </div>
                              <div>
                                  <mat-card class="example-card">
                                      <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                      <div class="statusBar">Continue Reading</div>
                                      <div>
                                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                        <div class="d-flex justify-content-start mt-1 mb-1">
                                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                          </star-rating>
                                          <span class="ratingNumber">
                                              (5432)
                                          </span>
                                        </div>
                                      </div>
                                      <mat-card-content>
                                        <p class="cardPara">
                                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions class="d-flex justify-content-center">
                                          <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                      </mat-card-actions>
                                    </mat-card>
                              </div>
                              <div>
                                  <mat-card class="example-card">
                                      <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                      <div class="statusBar">Continue Reading</div>
                                      <div>
                                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                        <div class="d-flex justify-content-start mt-1 mb-1">
                                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                          </star-rating>
                                          <span class="ratingNumber">
                                              (5432)
                                          </span>
                                        </div>
                                      </div>
                                      <mat-card-content>
                                        <p class="cardPara">
                                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions class="d-flex justify-content-center">
                                          <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                      </mat-card-actions>
                                    </mat-card>
                              </div>
                              <div>
                                  <mat-card class="example-card">
                                      <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                      <div class="statusBar">Continue Reading</div>
                                      <div>
                                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                        <div class="d-flex justify-content-start mt-1 mb-1">
                                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                          </star-rating>
                                          <span class="ratingNumber">
                                              (5432)
                                          </span>
                                        </div>
                                      </div>
                                      <mat-card-content>
                                        <p class="cardPara">
                                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions class="d-flex justify-content-center">
                                          <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                      </mat-card-actions>
                                    </mat-card>
                              </div>
                          </div>
                      
                  </mat-tab>
                  <mat-tab label="Past Viewing">
  
                          <div class="d-flex justify-content-between cardGap">
                              <div>
                                  <mat-card class="example-card">
                                      <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                      <div class="statusBar">Continue Reading</div>
                                      <div>
                                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                        <div class="d-flex justify-content-start mt-1 mb-1">
                                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                          </star-rating>
                                          <span class="ratingNumber">
                                              (5432)
                                          </span>
                                        </div>
                                      </div>
                                      <mat-card-content>
                                        <p class="cardPara">
                                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions class="d-flex justify-content-center">
                                          <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                      </mat-card-actions>
                                    </mat-card>
                              </div>
                              <div>
                                  <mat-card class="example-card">
                                      <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                      <div class="statusBar">Continue Reading</div>
                                      <div>
                                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                        <div class="d-flex justify-content-start mt-1 mb-1">
                                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                          </star-rating>
                                          <span class="ratingNumber">
                                              (5432)
                                          </span>
                                        </div>
                                      </div>
                                      <mat-card-content>
                                        <p class="cardPara">
                                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions class="d-flex justify-content-center">
                                          <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                      </mat-card-actions>
                                    </mat-card>
                              </div>
                              <div>
                                  <mat-card class="example-card">
                                      <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                      <div class="statusBar">Continue Reading</div>
                                      <div>
                                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                        <div class="d-flex justify-content-start mt-1 mb-1">
                                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                          </star-rating>
                                          <span class="ratingNumber">
                                              (5432)
                                          </span>
                                        </div>
                                      </div>
                                      <mat-card-content>
                                        <p class="cardPara">
                                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions class="d-flex justify-content-center">
                                          <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                      </mat-card-actions>
                                    </mat-card>
                              </div>
                              <div>
                                  <mat-card class="example-card">
                                      <img width="100px" height="200px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                      <div class="statusBar">Continue Reading</div>
                                      <div>
                                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                                        <div class="d-flex justify-content-start mt-1 mb-1">
                                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">   
                                          </star-rating>
                                          <span class="ratingNumber">
                                              (5432)
                                          </span>
                                        </div>
                                      </div>
                                      <mat-card-content>
                                        <p class="cardPara">
                                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of background to how the Key to Success was born and what to expect during this programme.
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions class="d-flex justify-content-center">
                                          <button class="cardBtn" mat-flat-button>Continue Watching</button>
                                      </mat-card-actions>
                                    </mat-card>
                              </div>
                          </div>
                      
                  </mat-tab>
              </mat-tab-group>
          </div>
      </div>
  </div>
  
  <div class="container container3 mt-5">
    <div class="row">
      <div id="time" style="text-align: center;">
        <div class="circle" style="--clr:#04fc43;">
          <svg>
            <circle cx="70" cy="70" r="70"></circle> 
            <circle cx="70" cy="70" r="70" id="ss"></circle> 
          </svg>
          <div id="seconds">00</div>
        </div>
      </div>
    </div>
  </div>
  
 
  