<section class="homeContainer my-libraryContainer">
  <mat-tab-group class="homeMatTab" mat-align-tabs="start">
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="homeLabel">Home</span>
      </ng-template>

      <div class="" *ngIf="isDataLoaded && hasData; else noDataTemplate">
        <div class="container containerImg1">
          <div class="row">
            <div class="fWrapper">
              <div class="child1">
                <div class="clock">
                  <strong>{{programInstance.dateStart | date : 'MMM'}}{{programInstance.dateStart | date :
                    ''}}</strong>
                </div>
                <div class="clock2">
                  <div class="date">


                    <span>{{programInstance.dateStart | date : 'd'}}</span>

                  </div>
                  <div class="day">
                    <p>{{programInstance.dateStart | date : 'EEEE'}}</p>

                  </div>

                </div>

                <div class="timing">
                  <div class="timerContainer">
                    <div class="days d1">
                      <div id="h" class="times">15</div>
                      <div id="calender">Days</div>
                    </div>
                    <div class="days d2">
                      <div id="m" class="times">15</div>
                      <div id="calender">Hours</div>
                    </div>
                    <div class="days d3">
                      <div id="s" class="times">15</div>
                      <div id="calender">Minutes</div>
                    </div>
                  </div>

                </div>


              </div>
              <div class="child2">
                <div class="heading">
                  {{programInstance.programName}}
                </div>
                <div class="para">
                  "If you’re bored with life – you don’t get up every morning with a burning desire to do things – you
                  don’t
                  have enough goals."
                </div>
                <div class="timing1">
                  <div>TIMINGS</div>
                  <div>
                    {{programInstance.dateStart | date : 'hh:mma'}} to {{programInstance.dateEnd | date : 'hh:mma'}}
                  </div>
                </div>
                <div class="btnJoin">
                  Join Now
                </div>
              </div>
              <div class="child3">
                <div>
                  <img class="profileImage" [src]="'data:image/png;base64,' + programInstance.tutorProfilePic"
                    onerror="this.src = '../../../../assets/img/dummy-profile.png'">
                </div>
                <div class="nameCoach" *ngIf="programInstance">


                  {{programInstance.tutorName}}

                </div>
                <div class="coachHeading">
                  YOUR COACH

                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <ng-template #noDataTemplate>
        <div class="d-flex justify-content-center align-items-center " *ngIf="isDataLoaded">
          <span class="text-muted">No upcoming courses</span>
        </div>
      </ng-template>



      <!-- carousel component is herer ................................ -->

      <div class="container container3">
        <app-carousel-container></app-carousel-container>
      </div>
      <div class="container container2">
        <div class="row">
          <div class="myGoalContainer d-flex justify-content-between">
            <div class="container2HeaderText">
              MY GOALS **
            </div>
            <div>
              <button mat-raised-button color="primary" routerLink="/key-to-success/goal">Add New Goal </button>
            </div>
          </div>
          <div class="goalContainer">
            <mat-tab-group>

              <mat-tab label="All Goals">

                <div class="allGoalList" *ngIf="isDataLoaded">

                  <div class="" *ngIf="successGoalList.length > 0">

                    <mat-card *ngFor="let item of successGoalList">

                      <div class="row">

                        <div class="col-4">

                        </div>
                      </div>
                      <div class="row">

                        <mat-card-title class="d-flex justify-content-between">
                          <div class="d-flex gap-1">

                            <div *ngIf="item.successGoalTypeId==1" class="titleCard">
                              My Goals
                            </div>
                            <div *ngIf="item.successGoalTypeId==2" class="titleCardBuisnessGoal">
                              My Business Goals
                            </div>
                            <div *ngIf="item.successGoalTypeId==3" class="titleCardTeamGoal">
                              My Team Goals
                            </div>

                            <div class="progressStatusCard">
                              In Progress
                            </div>
                          </div>
                          <div style="position: absolute;right: 1%;top: 35%;">
                            <img src="../../../assets/images/Vector.svg" alt="" srcset="">
                          </div>
                        </mat-card-title>

                        <mat-card-subtitle class="titleText">
                          <div class="col-8">
                            <div class="goal-item d-flex align-items-top" [class.active]="item === selectedSuccessGoal"
                              (click)="setSuccessGoal(item)">
                              <!-- <img [src]="item.icon | appImage" *ngIf="item.icon" class="mr-1" /> -->
                              <span>{{item.goal}}</span>
                            </div>
                          </div>

                        </mat-card-subtitle>
                      </div>

                    </mat-card>
                  </div>

                </div>

              </mat-tab>



              <mat-tab label="My Goals">

                <mat-card *ngFor="let item of MyGoalList">

                  <div class="listMayGoals">

                    <mat-card-title class="d-flex justify-content-between">
                      <div class="d-flex gap-1">
                        <div class="titleCard">
                          My Goal
                        </div>
                        <div class="progressStatusCard">
                          In Progress
                        </div>

                      </div>
                      <div>
                        <img src="../../../../assets/images/Vector.svg" alt="" srcset="">
                      </div>
                    </mat-card-title>
                    <mat-card-subtitle class="titleText">
                      <div class="">
                        {{item.goal}}
                      </div>

                      <!-- <div> {{item.goalDescription}}</div> -->

                    </mat-card-subtitle>

                  </div>

                </mat-card>
              </mat-tab>

              <mat-tab label="My Team Goals">

                <mat-card *ngFor="let item of teamGoalList">


                  <div class="teamGoalList">

                    <mat-card-title class="d-flex justify-content-between">
                      <div class="d-flex gap-1">
                        <div class="titleCardTeamGoal">
                          My Team Goals
                        </div>
                        <div class="progressStatusCard">
                          In Progress
                        </div>
                      </div>
                      <div>
                        <img src="../../../../assets/images/Vector.svg" alt="" srcset="">
                      </div>
                    </mat-card-title>
                    <mat-card-subtitle class="titleText">
                      <div class="">
                        {{item.goal}}
                      </div>

                      <!-- <div> {{item.goalDescription}}</div> -->

                    </mat-card-subtitle>

                  </div>


                </mat-card>
              </mat-tab>


              <mat-tab label="My Business Goals">
                <mat-card *ngFor="let item of BusinessGoalList">

                  <div class="businessGoalList">

                    <mat-card-title class="d-flex justify-content-between">
                      <div class="d-flex gap-1">
                        <div class="titleCardBuisnessGoal">
                          My BusinessGoals
                        </div>
                        <div class="progressStatusCard">
                          In Progress
                        </div>
                      </div>
                      <div>
                        <img src="../../../../assets/images/Vector.svg" alt="" srcset="">
                      </div>
                    </mat-card-title>
                    <mat-card-subtitle class="titleText">
                      <div class="">
                        {{item.goal}}
                      </div>

                      <!-- <div> {{item.goalDescription}}</div> -->

                    </mat-card-subtitle>

                  </div>



                </mat-card>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <div class="container container3">
        <div class="row">
          <div class="myGoalContainer d-flex justify-content-between">
            <div class="container2HeaderText" routerLink="/my-library">
              MY LIBRARY
            </div>
          </div>
          <div class="goalContainer">
            <mat-tab-group>

              <mat-tab label="Viewing List">

                <app-view-content *ngIf="isWatchVideo" [selectedContent]="selectedContent"
                  (onRequestClose)="handleContentViewerClose($event)">
                </app-view-content>

                <div class="row cardGap" *ngIf="!isWatchVideo">



                  <div class="col-sm-12 pl-0">

                    <div class="text-md-left text-center py-3">
                      <span class="font-lg text-uppercase">Viewing List
                      </span>
                    </div>

                    <div class="row overflow-auto pr-1  h-330px" *ngIf="readingList?.length>0">
                      <div *ngFor="let item of readingList" class=" toViewCont col-sm-12 h-100 pr-2 py-1 pl-0"
                        [ngClass]="{'col-xl-3 col-md-4 col-sm-6 col-12': readingList?.length <= 6, 'min-width-230px' : readingList?.length > 6}">

                        <div class="card library-card mr-lg-2 mr-sm-1 w-100 h-310px">
                          <div class="card-body text-center ">
                            <div class="card-header border-0  bg-white p-0 overlay mb-2 overlay min-height-140px">

                              <div class="overlay-content">
                                <div class="round-button" (click)="handleWatchVideo(item)">
                                  <i class="fa fa-play fa-2x pl-1" aria-hidden="true"
                                    *ngIf="item.contentTypeName=='Video'"></i>
                                  <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"
                                    *ngIf="item.contentTypeName== 'PDF Document'"></i>
                                </div>
                              </div>
                              <img [src]="'data:image/png;base64,'+ item.contentImage" class="suggested-image"
                                onerror="this.src='./assets/img/default-image.png'">
                            </div>
                            <div style="padding: 4px 8px;">
                              <button class="btn px-0" (click)="handleWatchVideo(item)">
                                <h5 class="card-title text-dark line-clamp">{{item.contentName}}</h5>
                              </button>

                              <div class="m-0 d-flex align-items-center">

                                <star-rating [value]="item.avgRating" [totalstars]="getRoundedValue(item.avgRating)"
                                  checkedcolor="rgb(255,192,0)" uncheckedcolor="white" size="24px" [readonly]="true">
                                </star-rating>
                                <!-- <span class="ml-1 mt-1" *ngIf="item.avgRating>0">{{item.avgRating}}</span> -->
                              </div>

                              <div>
                                <p class="cardDescDiv">{{item.contentBlurb}}</p>
                              </div>

                              <div style="position: absolute;bottom: 32px;left: 25%;" (click)="handleWatchVideo(item)">
                                <button type="button" class="cardBtnBottom btn btn-primary"
                                  *ngIf="item.contentTypeName=='Video'">watch
                                  now</button>
                                <button type="button" class="cardBtnBottom btn btn-primary"
                                  *ngIf="item.contentTypeName== 'PDF Document'">Read Now</button>

                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="overflow-auto pr-lg-1 d-lg-block d-block d-sm-flex" *ngIf="readingHistory?.length==0">
                      <div>
                        <span class="text-muted">Nothing in your past reading list</span>
                      </div>

                    </div>

                  </div>

                </div>


              </mat-tab>

              <mat-tab label="Suggested Viewing">

                <div class="col-sm-12 ">

                  <div class="text-md-left text-center py-3">
                    <span class="font-lg text-uppercase">SUGGESTED VIEWING
                    </span>
                  </div>
                  <div class="d-flex overflow-auto h-370px pl-0" *ngIf="suggestedList?.length>0">
                    <div *ngFor="let single of suggestedList" class="h-100 pr-2 py-1 pl-0"
                      [ngClass]="{'col-xxl-2 col-xl-3 col-md-4 col-sm-6 col-12': suggestedList?.length <= 6, 'min-width-230px' : suggestedList?.length > 6 }">
                      <div class="card w-100 library-card mr-xl-2 mr-sm-1 h-100">

                        <div class="card-body text-center">
                          <div class="card-header text-white bg-white p-0 mb-2 border-0 overlay min-height-130px">

                            <div class="overlay-content">
                              <div class="round-button" (click)="handleWatchVideo(single)">
                                <i class="fa fa-play fa-2x pl-1" aria-hidden="true"
                                  *ngIf="single.contentTypeName=='Video'"></i>
                                <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"
                                  *ngIf="single.contentTypeName== 'PDF Document'"></i>
                              </div>
                            </div>
                            <img [src]="'data:image/png;base64,'+ single.contentImage" class="suggested-image"
                              onerror="this.src='../../../../assets/img/default-image.png'">
                          </div>
                          <div>
                            <button class="btn btn-link px-0" (click)="handleWatchVideo(single)">
                              <h5 class="card-title text-dark line-clamp">{{single.contentName}}</h5>
                            </button>
                          </div>
                          <div><small class="text-uppercase">{{single.author}}</small></div>

                          <div class="mb-2">
                            <span class="text-uppercase">{{single.timetoViewDescription}} to
                              {{single.contentTypeName
                              =='video' ? 'watch' : 'read'}}</span>
                          </div>
                          <div class="m-0 d-flex align-items-center justify-content-center" *ngIf="single.avgRating>0">
                            <!-- <rating [(ngModel)]="single.avgRating" class="custom-rating-star"
                                      [max]="single.avgRating" [readonly]="true">
                                  </rating> -->

                            <star-rating [value]="single.avgRating" [totalstars]="getRoundedValue(single.avgRating)"
                              checkedcolor="rgb(255,192,0)" uncheckedcolor="white" size="24px" [readonly]="true">
                            </star-rating>

                            <span class="mt-1 ml-1" *ngIf="single.avgRating>0">{{single.avgRating}}</span>
                          </div>
                          <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-switch custom-control-input" [id]="single.contentID"
                              (click)="addToReadingList(single.contentID)">
                            <label class="custom-control-label" [for]="single.contentID">Add to viewing
                              list
                            </label>
                          </div>


                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="overflow-auto pr-lg-1 d-lg-block d-block d-sm-flex" *ngIf="suggestedList?.length==0">
                    <div *ngIf="isDataLoaded">
                      <span class="text-muted">Nothing in your suggested reading list</span>
                    </div>

                  </div>
                </div>

              </mat-tab>

              <mat-tab label="Past Viewing">

                <app-view-content *ngIf="isWatchVideo" [selectedContent]="selectedContent"
                  (onRequestClose)="handleContentViewerClose($event)">
                </app-view-content>

                <div class="row cardGap" *ngIf="!isWatchVideo">



                  <div class="col-sm-12 pl-0">

                    <div class="text-md-left text-center py-3">
                      <span class="font-lg text-uppercase">PAST VIEWING
                      </span>
                    </div>

                    <div class="row overflow-auto pr-1  h-330px" *ngIf="readingHistory?.length>0">
                      <div *ngFor="let item of readingHistory" class=" toViewCont col-sm-12 h-100 pr-2 py-1 pl-0"
                        [ngClass]="{'col-xl-3 col-md-4 col-sm-6 col-12': readingList?.length <= 6, 'min-width-230px' : readingList?.length > 6}">

                        <div class="card library-card mr-lg-2 mr-sm-1 w-100 h-310px">
                          <div class="card-body text-center ">
                            <div class="card-header border-0  bg-white p-0 overlay mb-2 overlay min-height-140px">

                              <div class="overlay-content">
                                <div class="round-button" (click)="handleWatchVideoo(item)">
                                  <i class="fa fa-play fa-2x pl-1" aria-hidden="true"
                                    *ngIf="item.contentTypeName=='Video'"></i>
                                  <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"
                                    *ngIf="item.contentTypeName== 'PDF Document'"></i>
                                </div>
                              </div>
                              <img [src]="'data:image/png;base64,'+ item.contentImage" class="suggested-image"
                                onerror="this.src='./assets/img/default-image.png'">
                            </div>
                            <div style="padding: 4px 8px;">
                              <button class="btn px-0" (click)="handleWatchVideoo(item)">
                                <h5 class="card-title text-dark line-clamp">{{item.contentName}}</h5>
                              </button>

                              <div class="m-0 d-flex align-items-center">
                                <!-- <rating [(ngModel)]="item.avgRating" class="rgb(255,192,0)" [max]="item.avgRating"
                                        [readonly]="true">
                                    </rating> -->
                                <star-rating [value]="item.avgRating" [totalstars]="getRoundedValue(item.avgRating)"
                                  checkedcolor="rgb(255,192,0)" uncheckedcolor="white" size="24px" [readonly]="true">
                                </star-rating>
                                <!-- <span class="ml-1 mt-1" *ngIf="item.avgRating>0">{{item.avgRating}}</span> -->
                              </div>

                              <div>
                                <p class="cardDescDiv">{{item.contentBlurb}}</p>
                              </div>

                              <div style="position: absolute;bottom: 32px;left: 25%;" (click)="handleWatchVideoo(item)">
                                <button type="button" class="cardBtnBottom btn btn-primary"
                                  *ngIf="item.contentTypeName=='Video'">watch now</button>
                                <button type="button" class="cardBtnBottom btn btn-primary"
                                  *ngIf="item.contentTypeName== 'PDF Document'">Read Now</button>

                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="overflow-auto pr-lg-1 d-lg-block d-block d-sm-flex" *ngIf="readingHistory?.length==0">
                      <div>
                        <span class="text-muted">Nothing in your past reading list</span>
                      </div>

                    </div>

                  </div>

                </div>

              </mat-tab>

            </mat-tab-group>
          </div>
        </div>
      </div>




    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="goalLabel">My Goals</span>
      </ng-template>

      <div class="container container2">
        <div class="row">
          <app-key-success-container></app-key-success-container>



          <!-- <div>
            <div class="col-lg-8">
              <app-success-key-lock [userSuccessID]="selectedSuccessGoal.userSuccessID"></app-success-key-lock>


            </div>
            <div class="col-lg-4">

            </div>
          </div> -->




        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="libraryLabel">My Library</span>
      </ng-template>
      <app-my-library-container></app-my-library-container>



    </mat-tab>
  </mat-tab-group>



</section>