<section class="container">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Home">
      <div class="container containerImg1">
        <div class="row">
          <div class="fWrapper">
            <div class="child1">
              <div class="clock">
                MAY
              </div>
              <div class="clock2">
                <div class="date">
                  19

                </div>
                <div class="day">
                  Thursday

                </div>

              </div>

              <div class="timing">
                <div class="timerContainer">
                  <div class="days">
                    <div class="times">15</div>
                    <div id="calender">Days</div>
                  </div>
                  <div class="days">
                    <div class="times">15</div>
                    <div id="calender">Hours</div>
                  </div>
                  <div class="days">
                    <div class="times">15</div>
                    <div id="calender">Minutes</div>
                  </div>
                </div>

              </div>


            </div>
            <div class="child2">
              <div class="heading">
                Key to Success Essentials
              </div>
              <div class="para">
                "If you’re bored with life – you don’t get up every morning with a burning desire to do things – you
                don’t
                have enough goals."
              </div>
              <div class="timing1">
                TIMINGS 09:30AM to 12:00PM
              </div>
              <div class="btnJoin">
                Join Now
              </div>
            </div>
            <div class="child3">
              <div class="profileImage"></div>
              <div class="nameCoach" *ngIf="programInstance">


                {{programInstance.tutorName}}

              </div>
              <div class="coachHeading">
                YOUR COACH

              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- carousel component is herer ................................ -->

      <div class="container container3">
        <app-carousel-container></app-carousel-container>
      </div>
      <div class="container container2">
        <div class="row">
          <div class="myGoalContainer d-flex justify-content-between">
            <div class="container2HeaderText">
              MY GOALS
            </div>
            <div>
              <button mat-raised-button color="primary" routerLink="/key-to-success/goal">Add New Goal </button>
            </div>
          </div>
          <div class="goalContainer">
            <mat-tab-group>
              <mat-tab label="All Goals">
                <mat-card>

                  <div class="allGoalList" *ngIf="isDataLoaded">

                    <div class="col-md-8 my-3" *ngIf="successGoalList.length > 0">
                      <div class="row">
                        <div class="col-8">
                          <div class="goal-header">
                            <span>Success Goal</span>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="goal-header">
                            <span>Last assessment</span>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngFor="let item of successGoalList">

                        <mat-card-title class="d-flex justify-content-between">
                          <div class="d-flex gap-1">
                            <div class="titleCard">
                              Goals
                            </div>
                            <div class="progressStatusCard">
                              In Progress
                            </div>
                          </div>
                          <div>
                            <img src="../../../assets/images/Vector.svg" alt="" srcset="">
                          </div>
                        </mat-card-title>

                        <mat-card-subtitle class="titleText">
                          <div class="col-8">
                            <div class="goal-item d-flex align-items-top" [class.active]="item === selectedSuccessGoal"
                              (click)="setSuccessGoal(item)">
                              <img [src]="item.icon | appImage" *ngIf="item.icon" class="mr-1" />
                              <span>{{item.goal}}</span>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="goal-item-value" [class.active]="item === selectedSuccessGoal"
                              (click)="setSuccessGoal(item)">
                              <span>{{item.dateTakenDescription}}</span>
                            </div>
                          </div>
                        </mat-card-subtitle>
                      </div>
                    </div>


                  </div>


                </mat-card>
                
              </mat-tab>



              <mat-tab label="MyGoals">
                <mat-card>

                  <div class="listMayGoals" *ngFor="let item of MyGoalList">
                    <mat-card-title class="d-flex justify-content-between">
                      <div class="d-flex gap-1">
                        <div class="titleCard">
                          {{item.goal}}
                        </div>
                        <div class="progressStatusCard">
                          In Progress
                        </div>

                      </div>
                      <div>
                        <img src="../../../../assets/images/Vector.svg" alt="" srcset="">
                      </div>
                    </mat-card-title>
                    <mat-card-subtitle class="titleText">
                      <div> {{item.goalDescription}}</div>
                      Deliver customer service and support with an 85 percent or higher satisfaction rating.
                    </mat-card-subtitle>

                  </div>

                </mat-card>
              </mat-tab>
              <mat-tab label="My Team Goals">
                <mat-card>


                  <div class="teamGoalList" *ngFor="let item of teamGoalList">

                    <mat-card-title class="d-flex justify-content-between">
                      <div class="d-flex gap-1">
                        <div class="titleCard">
                          {{item.goal}}
                        </div>
                        <div class="progressStatusCard">
                          In Progress
                        </div>
                      </div>
                      <div>
                        <img src="../../../../assets/images/Vector.svg" alt="" srcset="">
                      </div>
                    </mat-card-title>
                    <mat-card-subtitle class="titleText">
                      <div> {{item.goalDescription}}</div>
                      Deliver customer service and support with an 85 percent or higher satisfaction rating.
                    </mat-card-subtitle>

                  </div>


                </mat-card>
              </mat-tab>
              <mat-tab label="My BusinessGoals">
                <mat-card>

                  <div class="businessGoalList" *ngFor="let item of BusinessGoalList">

                    <mat-card-title class="d-flex justify-content-between">
                      <div class="d-flex gap-1">
                        <div class="titleCard">
                          {{item.goal}}
                        </div>
                        <div class="progressStatusCard">
                          In Progress
                        </div>
                      </div>
                      <div>
                        <img src="../../../../assets/images/Vector.svg" alt="" srcset="">
                      </div>
                    </mat-card-title>
                    <mat-card-subtitle class="titleText">
                      <div> {{item.goalDescription}}</div>
                      Deliver customer service and support with an 85 percent or higher satisfaction rating.
                    </mat-card-subtitle>

                  </div>



                </mat-card>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <div class="container container3">
        <div class="row">
          <div class="myGoalContainer d-flex justify-content-between">
            <div class="container2HeaderText" routerLink="/my-library">
              MY LIBRARY
            </div>
          </div>
          <div class="goalContainer">
            <mat-tab-group>
              <mat-tab label="Suggested Reading">
                <div class="d-flex justify-content-between cardGap">
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating>
                           -->
                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating> -->

                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating>
                           -->
                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating>
                           -->
                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Current Reading">

                <div class="d-flex justify-content-between cardGap">
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating> -->

                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating>
                           -->
                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating>
                           -->
                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating>
                           -->
                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>

              </mat-tab>
              <mat-tab label="Reading List">

                <div class="d-flex justify-content-between cardGap">
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating> -->

                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">
<!-- 
                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating>
                           -->
                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">
<!-- 
                          <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating>
                           -->
                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">
                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating> -->
                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>

              </mat-tab>
              <mat-tab label="Past Viewing">

                <div class="d-flex justify-content-between cardGap">
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating> -->

                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating> -->

                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating> -->
                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div>
                    <mat-card class="example-card">
                      <img width="100px" height="200px" mat-card-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      <div class="statusBar">Continue Reading</div>
                      <div>
                        <div class="cardTitle">K2A SUCCESS CHARTER </div>
                        <div class="d-flex justify-content-start mt-1 mb-1">

                          <!-- <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                          </star-rating> -->

                          <span class="ratingNumber">
                            (5432)
                          </span>
                        </div>
                      </div>
                      <mat-card-content>
                        <p class="cardPara">
                          A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                          background to how the Key to Success was born and what to expect during this programme.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="d-flex justify-content-center">
                        <button class="cardBtn" mat-flat-button>Continue Watching</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>

              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>

     


    </mat-tab>
    <mat-tab label="My Goals">

      <div class="container container2">
        <div class="row">
          <app-key-success-container></app-key-success-container>



          <!-- <div>
            <div class="col-lg-8">
              <app-success-key-lock [userSuccessID]="selectedSuccessGoal.userSuccessID"></app-success-key-lock>


            </div>
            <div class="col-lg-4">

            </div>
          </div> -->




        </div>
      </div>
    </mat-tab>
    <mat-tab label="My Library">

      <app-my-library-container></app-my-library-container>

      

    </mat-tab>
  </mat-tab-group>



</section>


<!-- <app-carousel-container></app-carousel-container> -->

<!-- <div>
  <div class="col-lg-8">
    <app-success-key-lock [userSuccessID]="selectedSuccessGoal.userSuccessID"></app-success-key-lock>


  </div>
  <div class="col-lg-4">

  </div>
</div> -->

<!-- <app-success-key-lock [userSuccessID]="selectedSuccessGoal.userSuccessID"></app-success-key-lock>     -->