<section style="width: 870px;height:570px;position: relative">
  <img class="lockOuterCircle" src="../../../../assets/images/Ellipse 31.svg" alt="" srcset="">
  <div class="container row container3 mt-5">
    <div class=" d-flex justify-content-center align-item-center">
      <div class="circleContainer1">
        <div id="time" style="text-align: center;">
          <div class="circle" style="--clr:#198754;">
            <svg>
              <circle cx="40" cy="40" r="40"></circle>
              <circle cx="40" cy="40" r="40" id="ss"></circle>
            </svg>
            <div id="seconds">00</div>
          </div>
        </div>
        <div class="indicator1">
          <svg height="100" width="100">
            <circle id="circleIndicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
          </svg>
        </div>
      </div>
      <div class="circleContainer2">
        <div id="time" style="text-align: center;">
          <div class="circle" style="--clr:#198754;">
            <svg>
              <circle cx="40" cy="40" r="40"></circle>
              <circle cx="40" cy="40" r="40" id="ss1"></circle>
            </svg>
            <div id="seconds1">00</div>
          </div>
        </div>
        <div class="indicator2">
          <svg height="100" width="100">
            <circle id="circle1Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
          </svg>
        </div>
      </div>
      <div class="circleContainer3">
        <div id="time" style="text-align: center;">
          <div class="circle" style="--clr:#198754;">
            <svg>
              <circle cx="40" cy="40" r="40"></circle>
              <circle cx="40" cy="40" r="40" id="ss2"></circle>
            </svg>
            <div id="seconds2">00</div>
          </div>
        </div>
        <div class="indicator3">
          <svg height="100" width="100">
            <circle id="circle2Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
          </svg>
        </div>
      </div>
      <div class="circleContainer4">
        <div id="time" style="text-align: center;">
          <div class="circle" style="--clr:#198754;">
            <svg>
              <circle cx="40" cy="40" r="40"></circle>
              <circle cx="40" cy="40" r="40" id="ss3"></circle>
            </svg>
            <div id="seconds3">00</div>
          </div>
        </div>
        <div class="indicator4">
          <svg height="100" width="100">
            <circle id="circle3Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
          </svg>
        </div>
      </div>
      <div class="circleContainer5">
        <div id="time" style="text-align: center;">
          <div class="circle" style="--clr:#198754;">
            <svg>
              <circle cx="40" cy="40" r="40"></circle>
              <circle cx="40" cy="40" r="40" id="ss4"></circle>
            </svg>
            <div id="seconds4">00</div>
          </div>
        </div>
        <div class="indicator5">
          <svg height="100" width="100">
            <circle id="circle4Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
          </svg>
        </div>
      </div>
      <div class="circleContainer6">
        <div id="time" style="text-align: center;">
          <div class="circle" style="--clr:#198754;">
            <svg>
              <circle cx="40" cy="40" r="40"></circle>
              <circle cx="40" cy="40" r="40" id="ss5"></circle>
            </svg>
            <div id="seconds5">00</div>
          </div>
        </div>
        <div class="indicator6">
          <svg height="100" width="100">
            <circle id="circle5Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
          </svg>
        </div>
      </div>
      <div class="circleContainer7">
        <div id="time" style="text-align: center;">
          <div class="circle" style="--clr:#198754;">
            <svg>
              <circle cx="40" cy="40" r="40"></circle>
              <circle cx="40" cy="40" r="40" id="ss6"></circle>
            </svg>
            <div id="seconds6">00</div>
          </div>
        </div>
        <div class="indicator7">
          <svg height="100" width="100">
            <circle id="circle6Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
          </svg>
        </div>
      </div>
      <div class="circleContainer8">
        <div id="time" style="text-align: center;">
          <div class="circle" style="--clr:#198754;">
            <svg>
              <circle cx="40" cy="40" r="40"></circle>
              <circle cx="40" cy="40" r="40" id="ss7"></circle>
            </svg>
            <div id="seconds7">00</div>
          </div>
        </div>
        <div class="indicator8">
          <svg height="100" width="100">
            <circle id="circle7Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
          </svg>
        </div>
      </div>
      <div class="circleContainer9">
        <div id="time" style="text-align: center;">
          <div class="circle" style="--clr:#198754;">
            <svg>
              <circle cx="40" cy="40" r="40"></circle>
              <circle cx="40" cy="40" r="40" id="ss8"></circle>
            </svg>
            <div id="seconds8">00</div>
          </div>
        </div>
        <div class="indicator9">
          <svg height="100" width="100">
            <circle id="circle8Indicator" cx="25" cy="25" r="15" stroke="#CED4DA" stroke-width="3" fill="#FFC107" />
          </svg>
        </div>
      </div>
      <div class="circleContainerResultant">
        <div id="time" style="text-align: center;">
          <div class="circle" style="--clr:#198754;">
            <svg>
              <circle cx="90" cy="90" r="90"></circle>
              <circle cx="90" cy="90" r="90" id="overAlls"></circle>
            </svg>
            <div id="combinedResult" style="color:red;z-index:999;">00</div>
          </div>
        </div>
        <img class="lockImg" src="../../../../assets/images/Union.svg" alt="" srcset="">
      </div>
      <div class="spaceRemoval"></div>
    </div>
    <div>
      <p class="keyText text1">PERSONAL ACCOUNTABILITY</p>
      <p class="keyText text2">NEXT STEPS</p>
      <p class="keyText text3">POSSIBILITIES AND CHOICES</p>
      <p class="keyText text4">CURRENT POSITION</p>
      <p class="keyText text5">END GOAL</p>
      <p class="keyText text6">SELF BELIEF</p>
      <p class="keyText text7">COMPELLING REASON </p>
      <p class="keyText text8">UNWILLINGNESS TO COMPROMISE</p>
      <p class="keyText text9">PRIORITISING ABOVE OTHERS</p>
    </div>

    <ngx-spinner bdColor="#ffffff00" size="medium" color="#2f5597" [fullScreen]="false" type="ball-scale-multiple"
      name="assessment-key-chart">
    </ngx-spinner>

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#0198e0" type="ball-climbing-dot" [fullScreen]="true"
      name="assessment-key-chart">
      <p style="color: #0198e0"> Loading... </p>
    </ngx-spinner>
  </div>
</section>