.goal-item,
.goal-item-value {
  padding: 0.3rem 0px;
}

.addGoalContainer{
  max-width: 100%;
  padding: 0px !important;
}
.goalWHoleC{
  max-width: 100%;
  padding: 40px !important;
}

.goal-item img {
  width: 25px;
  height: 25px;
}

.goal-header {
  padding: 0.1rem 0px;
  border-bottom: 1px solid #a5a5a5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goal-header span {
  color: #a5a5a5;
}

.goal-item span {
  color: #a5a5a5;
  cursor: pointer;
}

.goal-item span:hover {
  text-decoration: underline;
  text-decoration-color: #a5a5a5;
}

.goal-item.active span {
  color: black;
  text-decoration: underline;
  cursor: default;
}

.goal-item-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goal-item-value span {
  color: #a5a5a5;
  cursor: pointer;
}

.goal-item-value span:hover {
  text-decoration: underline;
  text-decoration-color: #a5a5a5;
}

.goal-item-value.active span {
  color: black;
  text-decoration: underline;
  cursor: default;
}

.lockContainerDivGoal {
  justify-content: space-between;
  align-items: center;
}

.addGoalBtn {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  background-color: #0198e0 !important;
  color: #fff !important;
  height: 48px;
  }

.reAsses > button{
  font-size: 14px;
}

.goalContainer mat-card.mat-card.mat-focus-indicator.ng-star-inserted {
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
      0px 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 16px !important;
}

