.navbar{
    height: 122px;
}

.logo{
    display: flex;
}

.userInfo{
    display: flex;
}

.flexWrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
}

.marPad0{
    margin: 0;
    padding: 0;
}


.dropdown-toggle::after {
    display: none;
}
.cursorP{
    cursor: pointer;
}
.userName{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}
.userJob{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
}