.classFigma {

    background: #E5E5E5;
    height: auto;
    width: auto;
    padding: 250px 0px 500px 0px;

}

.marPad0 {
    margin: 0;
    padding: 0;
}

.textLeftD{
    line-height: 150%;
  }
.wrappSubio {
    padding: 388px 0px 1335px 315px;
}
.frgtPassText p {
    line-height: 150%;
}
.formWrap {
    padding: 340px 145px 1335px 170px;

}



.textSubio {
    width: 394px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* or 24px */
    color: #000000;
    margin-top: 32px;
  }
  
.formCard {
    width: 442px;
    height: auto;
    background: #FFFFFF;
    /* Gray/700 */
    border: 1px solid #495057;
    /* xl */
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}

.formElement {
    padding: 16px 16px 17px 16px;
}

.inputEmail {
    padding: 0px 0px 24px 0px;
}
.inputEmail > input{
    height: 48px;
}
.inputPass {
    padding: 0px 0px 24px 0px;

}

.loginBtn {
    padding: 0px 0px 24px 0px;

}

.regBlock {
    padding: 75px 0px 0px 0px;
}

.regBtn {
    padding: 16px 0px 0px 0px;
}



.btnBlock {
    width: 100%;
    background: #0198E0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    /* Gray/White */
    color: #FFFFFF;
}

.frgtPass {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #0198E0;
    text-align: center;

}

.regBlock {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    color: #000000;
    text-align: center;
}

.btnRegister {
    background: #198754;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    /* Gray/White */
    color: #FFFFFF;

}


/* forgot password css */

.frgtPassText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    color: #000000;
    padding: 0px 0px 12px 0px;

}