<section class="my-libraryContainer">

    <div class="full-height" *ngIf="isDataLoaded; else noDataTemplate">
        <div class="animated fadeIn full-height pt-2" *ngIf="!isWatchVideo">
            <div class="mb-2">
                <span class="font-lg text-uppercase">SEARCH THE LIBRARY</span>
            </div>

            <div class="row  mb-3">
                <div class="col-sm-12 mb-5">
                    <form [formGroup]="searchForm" (ngSubmit)="searchTerm()">
                        <div class="d-sm-flex align-items-center d-block">
                            <div class="col-4 d-flex align-items-center pl-0">

                                <input type="text" class="form-control" id="validationTooltipUsername"
                                    placeholder="Search" formControlName="searchInput" name="searchInput">
                                <button type="submit" class="input-group-prepend btn p-0 bg-white search-btn">
                                    <span class="input-group-text fa fa-search bg-transparent border-0"
                                        id="validationTooltipUsernamePrepend"></span>
                                </button>

                            </div>
                            <div class="custom-control custom-switch exclude-switch">
                                <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked"
                                    [disabled]="disabled" name="excludeSwitch" formControlName="excludeSwitch"
                                    id="excludeSwitch" (change)="searchTerm()">

                                </mat-slide-toggle>

                                <!-- <input type="checkbox" class="custom-switch custom-control-input" name="excludeSwitch"
                                    formControlName="excludeSwitch" id="excludeSwitch" (change)="searchTerm()"> -->

                                <label style="margin-left: 18px;" class="custom-control-label mt-sm-0 mt-2"
                                    for="excludeSwitch">Exclude articles
                                    already viewed</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row searchClassContainer" *ngIf="searchResult?.length>0">
                
                    <div class="searchCard card library-card mb-2 min-height-150px pastVcard "
                        *ngFor="let single of searchResult">

                        <div class=" position-absolute top-0 translate-middle p-2 bg-success" *ngIf="single.isRead">
                            <div class="text-white">Read</div>
                            <span class="fa fa-check font-size-24px"></span>
                        </div>
                        <div class="card-body d-md-flex d-block ">
    
                            <div class=" bg-white p-0 border-0 overlay d-flex align-items-center">
    
                                <div class="overlay-content">
                                    <div class="round-button" (click)="handleWatchVideo(single)">
                                        <i class="fa fa-play fa-2x pl-1" aria-hidden="true"
                                            *ngIf="single.contentTypeName=='Video'"></i>
                                        <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"
                                            *ngIf="single.contentTypeName== 'PDF Document'"></i>
                                    </div>
                                </div>
                                <img [src]="'data:image/png;base64,' + single.contentImage" class="suggested-image"
                                    onerror="this.src='../../../../assets/img/default-image.png'">
                            </div>
    
                            <div class="cardDetailContainer p-2 d-xl-flex d-block ">
                                <div class="col-xxl-10 col-xl-9  col-sm-12">
                                    <!-- <h3><a class="search-result-title">{{single.contentName | uppercase}}</a></h3> -->
                                    <button class="btn  px-0" (click)="handleWatchVideo(single)">
                                        <h5 class="card-title text-dark line-clamp">{{single.contentName}}</h5>
                                    </button>
    
                                    <div class="m-0 d-flex align-items-center  " *ngIf="single.avgRating>0">
                                        <!-- <rating [(ngModel)]="single.avgRating" class="custom-rating-star"
                                        max="single.avgRating" [readonly]="true"></rating> -->
                                        <star-rating [value]="single.avgRating"
                                            [totalstars]="getRoundedValue(single.avgRating)" checkedcolor="rgb(255,192,0)"
                                            uncheckedcolor="white" size="30px" [readonly]="true">
                                        </star-rating>
                                        <!-- <div class="mt-1 ml-1"><span>{{single.avgRating}}</span></div> -->
                                        <span>({{single.viewDescription}} )</span>
                                    </div>
    
                                    <div class="d-flex align-items-center justify-content">
                                       
    
                                        <div class="text-center "
                                            style="display:flex;flex-direction: row-reverse;justify-content: space-between;">
                                            <label l class="">
                                                <div class="" [ngClass]="{'d-none': single.isRead}">
                                                    <span class="" style="margin-right: 22px;"> Add to my reading list</span>
                                                    <mat-slide-toggle class="example-margin" [color]="color"
                                                        [checked]="checked" [disabled]="disabled" class=""
                                                        [id]="single.contentID" [checked]="single.isAlreadyReadingList"
                                                        (click)="addToReadingList(single.contentID)">
    
                                                    </mat-slide-toggle>
                                                   
                                                    <label class="custom-control-label" [for]="single.contentID">
                                                    </label>
                                                </div>
    
                                            </label>
    
                                        </div>
    
                                    </div>
                                    <div>
                                        <p class="cardDescDiv">{{single.contentBlurb}}
                                            {{single.tagList}}
                                        </p>
                                    </div>
    
                                    <!-- <div><span>{{single.timetoViewDescription}}</span></div> -->
    
                                </div>
            
                            </div>
    
                        </div>
                        <div style="position: absolute;bottom: 13px;left: 25%;" (click)="handleWatchVideo(single)">
                            <button type="button" class="cardBtnBottom btn btn-primary"
                                *ngIf="single.contentTypeName=='Video'">watch
                                now</button>
                            <button type="button" class="cardBtnBottom btn btn-primary"
                                *ngIf="single.contentTypeName== 'PDF Document'">Read Now</button>
    
                        </div>
                    </div>
               
            </div>
            <div class="d-flex" *ngIf="searchResult?.length==0 && isSearched">
                <span class="text-muted">Nothing in your search result</span>
            </div>


            <!-- <div class="row">
                <div class="col-lg-12 col-sm-12"
                    [ngClass]="{'col-lg-6 col-sm-12': suggestedList?.length > 0, 'col-12' : suggestedList?.length ==0 }">

                    <div class="text-md-left text-center py-3">
                        <span class="font-lg text-uppercase">TO VIEW
                        </span>
                    </div>

                  

                    <div class="h-310px row col-12   pr-lg-1 pl-0 d-flex" *ngIf="readingList?.length>0">
                        <div *ngFor="let item of readingList" class="pastVcard h-100 pr-2 py-1 pl-0"
                            [ngClass]="{
                            ' col-xl-3 col-md-4 col-sm-6 col-12': readingList.length <= 6, 'min-width-230px' : readingList.length > 6}">
                            <div class=" h-100 card library-card mh-fit-content mb-2 ">
                                <div class="card-body text-center">
                                    <div
                                        class="card-header border-0  bg-white p-0 overlay mb-2 overlay min-height-140px">

                                        <div class="overlay-content">
                                            <div class="round-button" (click)="handleWatchVideo(item)">
                                                <i class="fa fa-play fa-2x pl-1" aria-hidden="true"
                                                    *ngIf="item.contentTypeName=='Video'"></i>
                                                <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"
                                                    *ngIf="item.contentTypeName== 'PDF Document'"></i>
                                            </div>
                                        </div>
                                        <img [src]="'data:image/png;base64,'+ item.contentImage" class="suggested-image"
                                            onerror="this.src='../../../../assets/img/default-image.png'">
                                    </div>
                                    <div style="padding: 4px 8px;">
                                        <div>

                                            <button class="btn btn-link  px-0" (click)="handleWatchVideo(item)">
                                                <h5 class="card-title text-dark line-clamp">{{item.contentName}}</h5>
                                            </button>
                                        </div>

                                        <small class="text-uppercase">{{item.timetoViewDescription}} to
                                            {{item.contentTypeName
                                            =='video'
                                            ? 'watch' : 'read'}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" overflow-auto pr-lg-1 d-lg-block d-block d-sm-flex" *ngIf="readingList?.length==0">
                        <div class="" *ngIf="isDataLoaded">
                            <span class="text-muted">Nothing in your reading list</span>
                        </div>
                    </div>
                </div>

                
                <div class="col-sm-12 ">

                    <div class="text-md-left text-center py-3">
                        <span class="font-lg text-uppercase">SUGGESTED VIEWING
                        </span>
                    </div>
                    <div class="d-flex row  h-370px pl-0" *ngIf="suggestedList?.length>0">
                        <div *ngFor="let single of suggestedList" class="pastVcard h-100 pr-2 py-1 pl-0"
                            [ngClass]="{' col-xl-3 col-md-4 col-sm-6 col-12': suggestedList?.length <= 6, 'min-width-230px' : suggestedList?.length > 6 }">
                            <div class="card w-100 library-card mr-xl-2 mr-sm-1 h-100">

                                <div class="card-body text-center">
                                    <div
                                        class="card-header text-white bg-white p-0 mb-2 border-0 overlay min-height-130px">

                                        <div class="overlay-content">
                                            <div class="round-button" (click)="handleWatchVideo(single)">
                                                <i class="fa fa-play fa-2x pl-1" aria-hidden="true"
                                                    *ngIf="single.contentTypeName=='Video'"></i>
                                                <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"
                                                    *ngIf="single.contentTypeName== 'PDF Document'"></i>
                                            </div>
                                        </div>
                                        <img [src]="'data:image/png;base64,'+ single.contentImage"
                                            class="suggested-image"
                                            onerror="this.src='../../../../assets/img/default-image.png'">
                                    </div>
                                    <div style="padding: 4px 8px;">
                                        <button class="btn btn-link px-0" (click)="handleWatchVideo(single)">
                                            <h5 class="card-title text-dark line-clamp">{{single.contentName}}</h5>
                                        </button>
                                        <div><small class="text-uppercase">{{single.author}}</small></div>
                                    </div>

                                    <div class="mb-2">
                                        <span class="text-uppercase">{{single.timetoViewDescription}} to
                                            {{single.contentTypeName
                                            =='video' ? 'watch' : 'read'}}</span>
                                    </div>
                                    <div class="m-0 d-flex align-items-center justify-content-center"
                                        *ngIf="single.avgRating>0">

                                       

                                        <star-rating [value]="single.avgRating"
                                            [totalstars]="getRoundedValue(single.avgRating)"
                                            checkedcolor="rgb(255,192,0)" uncheckedcolor="white" size="24px"
                                            [readonly]="true">
                                        </star-rating>
                                        <span class="mt-1 ml-1" *ngIf="single.avgRating>0">{{single.avgRating}}</span>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-switch custom-control-input"
                                            [id]="single.contentID" (click)="addToReadingList(single.contentID)">
                                        <label class="custom-control-label" [for]="single.contentID">Add to viewing
                                            list
                                        </label>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="overflow-auto pr-lg-1 d-lg-block d-block d-sm-flex" *ngIf="suggestedList?.length==0">
                        <div *ngIf="isDataLoaded">
                            <span class="text-muted">Nothing in your suggested reading list</span>
                        </div>

                    </div>
                </div>

            </div> -->


            <div class="col-sm-12 pl-0">

                <div class="text-md-left text-center py-3">
                    <span class="font-lg text-uppercase">PAST VIEWING
                    </span>
                </div>
                <div class=" row pr-1 searchClassContainer  d-flex h-330px" *ngIf="readingHistory?.length>0">
                    <div *ngFor="let item of readingHistory" class="pastVcard searchCard h-100 pr-2 py-1 pl-0"
                        [ngClass]="{' col-xl-3 col-md-4 col-sm-6 col-12': readingList?.length <= 6, 'min-width-230px' : readingList?.length > 6}">

                        <div class="card library-card mr-lg-2 mr-sm-1 w-100 h-310px">
                            <div class="card-body text-center ">
                                <div class="card-header border-0  bg-white p-0 overlay mb-2 overlay min-height-140px">

                                    <div class="overlay-content">
                                        <div class="round-button" (click)="handleWatchVideo(item)">
                                            <i class="fa fa-play fa-2x pl-1" aria-hidden="true"
                                                *ngIf="item.contentTypeName=='Video'"></i>
                                            <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"
                                                *ngIf="item.contentTypeName== 'PDF Document'"></i>
                                        </div>
                                    </div>
                                    <img [src]="'data:image/png;base64,'+ item.contentImage" class="suggested-image"
                                        onerror="this.src='./assets/img/default-image.png'">
                                </div>
                                <div style="padding: 4px 8px;">
                                    <button class="btn  px-0" (click)="handleWatchVideo(item)">
                                        <h5 class="card-title text-dark line-clamp">{{item.contentName}}</h5>
                                    </button>

                                    <div class="m-0 d-flex align-items-center">

                                        <star-rating [value]="item.avgRating"
                                            [totalstars]="getRoundedValue(item.avgRating)" checkedcolor="rgb(255,192,0)"
                                            uncheckedcolor="white" size="24px" [readonly]="true">
                                        </star-rating>

                                        <!-- <span class="ml-1 mt-1" *ngIf="item.avgRating>0">{{item.avgRating}}</span> -->
                                    </div>

                                    <div>
                                        <p class="cardDescDiv">{{item.contentBlurb}}</p>
                                    </div>

                                    <div style="position: absolute;bottom: 32px;left: 25%;"
                                        (click)="handleWatchVideo(item)">
                                        <button type="button" class="cardBtnBottom btn btn-primary"
                                            *ngIf="item.contentTypeName=='Video'">watch
                                            now</button>
                                        <button type="button" class="cardBtnBottom btn btn-primary"
                                            *ngIf="item.contentTypeName== 'PDF Document'">Read Now</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overflow-auto pr-lg-1 d-lg-block d-block d-sm-flex" *ngIf="readingHistory?.length==0">
                    <div>
                        <span class="text-muted">Nothing in your past reading list</span>
                    </div>

                </div>

            </div>
        </div>
        <app-view-content *ngIf="isWatchVideo" [selectedContent]="selectedContent"
            (onRequestClose)="handleContentViewerClose($event)">
        </app-view-content>
    </div>
    <ng-template #noDataTemplate>
        <div class="d-flex justify-content-center align-items-center h-100" *ngIf="isDataLoaded">
            <span class="text-muted">No upcoming data</span>
        </div>
    </ng-template>







</section>