


<div class="container container3">
    <div class="row">
      <div class="myGoalContainer d-flex justify-content-between">
        <div class="container2HeaderText" routerLink="/my-library">
          MY LIBRARY
        </div>
      </div>
      <div class="goalContainer">
        <mat-tab-group>
          <mat-tab label="Suggested Reading">
            <div class="d-flex justify-content-between cardGap">
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Current Reading">

            <div class="d-flex justify-content-between cardGap">
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="Reading List">

            <div class="d-flex justify-content-between cardGap">
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="Past Viewing">

            <div class="d-flex justify-content-between cardGap">
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <mat-card class="example-card">
                  <img width="100px" height="200px" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <div class="statusBar">Continue Reading</div>
                  <div>
                    <div class="cardTitle">K2A SUCCESS CHARTER </div>
                    <div class="d-flex justify-content-start mt-1 mb-1">
                      <star-rating class="ratingContainer" [starType]="'svg'" [rating]="3">
                      </star-rating>
                      <span class="ratingNumber">
                        (5432)
                      </span>
                    </div>
                  </div>
                  <mat-card-content>
                    <p class="cardPara">
                      A warm welcome to Subio from John, the Founder and CEO of Subio. Let's start with a bit of
                      background to how the Key to Success was born and what to expect during this programme.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center">
                    <button class="cardBtn" mat-flat-button>Continue Watching</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
    <app-my-library></app-my-library>
  </div>