<h1>hello</h1>

<section class="main-section">
    <div class="container container-block">
        <div class="d-flex profile">
            <mat-card class="profile-sidebar">
                <div class="profile-img">
                    <button class="btn primary file-upload-button">
                        <input type="file" accept="image/png,image/jpeg,image/x-png" #fileInput
                        >
                        <i class="fa fa-solid fa-pen"></i>
                    </button>
                    <img src="{profilePic}}"  width="100%" alt="">
                    <img src="/assets/images/download.png"  width="100%" alt="">
                </div>
                <div class="userDetail">
                    <p class="username">userInfo?.prefix + '. ' + userInfo.firstName}}</p>
                    <p class="personal-profile">Personal Profile</p>
                </div>
                
            </mat-card>

            
        </div>
    </div>
</section>        